interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/test-org/test-repo
  response:
    body:
      string: '{"id":123456,"name":"test-repo","full_name":"test-org/test-repo","default_branch":"main","stargazers_count":42,"forks_count":7,"open_issues_count":3,"description":"A test repository","url":"https://api.github.com/repos/test-org/test-repo"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/test-org/test-repo/issues?state=open
  response:
    body:
      string: '[{"number":1,"title":"Fix login bug","body":"Users cannot log in when using SSO authentication.","state":"open","labels":[{"id":100,"name":"bug","color":"d73a4a"}],"pull_request":null,"url":"https://api.github.com/repos/test-org/test-repo/issues/1"},{"number":2,"title":"Add dark mode","body":"Support dark colour scheme for better accessibility.","state":"open","labels":[{"id":101,"name":"enhancement","color":"a2eeef"}],"pull_request":null,"url":"https://api.github.com/repos/test-org/test-repo/issues/2"},{"number":3,"title":"Refactor auth module","body":"Clean up authentication module for maintainability.","state":"open","labels":[],"pull_request":{"url":"https://api.github.com/repos/test-org/test-repo/pulls/3"},"url":"https://api.github.com/repos/test-org/test-repo/issues/3"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
